<div class="row col-md-8 col-md-offset-2">

  <h1>Create a Group on a programming groupname</h1>
    <div class="well">
      <div class="group-form">
        <%= form_for @group do |f| %>
          <div class="input-group">
            <span class="input-group-addon">groupname:</span>
            <%= f.text_field :groupname, class: "form-control"%>
          </div>
          <%= f.submit class: "btn btn-primary", id: "create-group" %>
        <% end %>
      </div>
    </div>

    <%= render partial: 'layouts/flash_errors'%>
</div>

