<div class="jumbotron">
  <h1>FLAKME</h1>
<p><span class="glyphicon glyphicon-heart"></span> Hi, <%= @user.username%> <span class="glyphicon glyphicon-heart"></span></p>

</div>
<div class="row">
  <div class="col-sm-4">
    <%= render partial: 'users/my_groups' %>

  </div>
  <div class="col-sm-8">
    <%= link_to "Conversations", conversations_path %>
  </div>
</div>
