<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%= render partial: 'registrations/signup_form', locals: {user: @user}%>

      <%= render partial: 'layouts/flash_errors'%>
  </div>
</div>
