<div class="jumbotron">
  <h1>FLAKME</h1>
  <%if current_user%>
    <p><span class="glyphicon glyphicon-heart"></span> Hi, <%= current_user.username%> <span class="glyphicon glyphicon-heart"></span></p>
  <%end%>
  <p>Sign up or log in, then create a group or browse existing rooms to start chatting.</p>
</div>
