// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-form {
  margin: 5%;
  text-align: center;
}

#create-group {
  margin-top: 5%;
}

#group-index {
  list-style: none;
  font-size: 22px;
  padding-left: 0px;
}

#group-index > li {
  margin-left: 0px;
}

#groups {
  text-align: center;
}

#group-title {
  text-align: center;
}

#hidden {
  display: none;
}